AI_PROVIDER=google
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='gemini-embedding-2-preview'
GOOGLE_CHAT_MODEL='gemini-2.5-flash'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_CHAT_MODEL='gpt-4o-mini'
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/rag
PG_VECTOR_COLLECTION_NAME=
PDF_PATH=
PDF_PATH_CONTAINER=/app/document.pdf